.loginPanel {
  margin: -10px;
  margin-bottom: 5px;
  padding: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.list {
  display: flex;
  position: relative;
  height: 24px;
}

.colList {
  display: flex;
  flex: 30% 0 0;
  align-items: center;
}

.colList:first-child,
.colList:last-child {
  flex: 20% 0 0;
}

.colList:last-child {
  justify-content: flex-end;
}
